#grade {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
}

#grade button {
	font-size: 50pt;
}


#reiniciar{
	display: grid;
	grid-template-columns: 100px;
	grid-template-rows: 50px;
}

#reiniciar button {
	font-size: 15pt
}

#jogo{
	display:none;
}

#timer {
	font-size: 60pt;
}

#gameover {
	font-size: 70pt;
	color: red;
}