#grade {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
}

#grade button {
	font-size: 50pt;
}

#jogo{
	display:none;
}

#timer {
	font-size: 60pt;
}

#gameover {
	font-size: 70pt;
	color: red;
>>>>>>> Coloquei o temporizador!
}